PORT=3100
JWT_SECRET=replace_me_in_dev
GENERATOR_ADMIN_USER=superadmin
GENERATOR_ADMIN_PASS=superadmin123
COMPANY_NAME=MyCompany
SERVER_NAME=MyServer
SERVER_INSTANCE_COUNT=1
LICENSE_SECRET_KEY=
LICENSE_CLIENT_KEY=
LICENSE_PARAM_A=replace_a
LICENSE_PARAM_B=replace_b
LICENSE_PARAM_C=replace_c
