PORT=3100
JWT_SECRET=replace_me_in_dev
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=bali2000
DB_NAME=pocserver
COMPANY_NAME=BALIOffice.net
SERVER_NAME=GoingSpring
LICENSE_SECRET_KEY=Rudy
LICENSE_CLIENT_KEY=Dwiantoro